* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER STYLE */
.header {
    height: 70vh;
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('../images/donation11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.header-title {
    color: #fff;
    font-size: 48px;
    margin-bottom: 25px;
}
.header-des {
    color: #bbb9b9;
    line-height: 30px;
    margin-bottom: 30px;
}

/* DONATE AREA STYLE */
.donate-area {
    text-align: center;
}
.donate-amount {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.donate-item {
    color: #838080;
    background: rgba(221, 221, 221, 0.331);
    font-size: 25px;
    padding: 38px 32px;
    margin: 1px;
    transition: 0.5s background-color, 0.5s border;
}
.donate-item:hover {
    background-color:rgba(255, 0, 0, 0.100);
    border: 1px solid #a40d0dc0;
    margin: 0;
}
.donate-form {
    width: 75%;
    margin: 60px auto 40px;
}
.donate-form input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
}
/*Donate Plan*/
.plan-container {
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}
.it-1 {
    background: rgba(116, 203, 238, 0.416);
}
.it-2 {
    background: rgba(220, 115, 35, 0.416);
}
.it-3 {
    background: rgba(225, 240, 6, 0.416);
}
.plan-item {
    padding: 50px 35px;
    border-radius: 5px;
}
.plan-item img {
    margin-bottom: 25px;
}
.plan-title {
    font-size: 23px;
    margin-bottom: 17px;
}
.plan-des {
    line-height: 30px;
}
.depend-man {
    width: 95%;
    display: flex;
    align-items: center;
    gap: 6%;
    margin-bottom: 70px;
}
.depend-text {
    width: 50%;
}
.depend-title {
    font-size: 45px;
    margin-bottom: 20px;
}
.depend-des {
    color: rgb(174, 168, 168);
    line-height: 27px;
    margin-bottom: 15px;
}
.depend-text .btn-primary {
    margin-top: 30px;
}
.depend-image {
    width: 50%;
}
.depend-image img {
    height: 430px;
    border-radius: 5px;
}

/*Contact Area*/
.contact-area {
    margin: 30px 70px;
}
.contact {
    width: 80%;
    margin: 0 auto;
}
.contact-form {
    width: 100%;
    background: rgba(225, 240, 6, 0.250);
    text-align: center;
    padding: 70px 0;
    border-radius: 5px;
}
.contact-form input{
    width: 35%;
    padding: 15px;
    border: 0;
    background: rgb(175, 172, 172);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 17px;
}
.contact-form input[type="submit"] {
    width: 17%;
    margin-left: -4px;
    background: #ba1356;
    color: #ddd;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.contact-form input[type="submit"]:hover {
    background: #ac114f;
    color: #ddd;
}